@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Unbounded;
}

.horizontal-container {
  display: flex;
  position: relative;
  width: 393px;
  height: 187px;
  overflow-x: scroll;
}

.image-container {
  display: flex;
  background: #FFFFFF;
  height: 125px;
  min-width: 125px;
  border-radius: 25px;
  justify-content: center;
  align-items: start;
}

img.cone {
  height: 125px;
}

.cone-container {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.165px;
  overflow: wrap;
}

.caption {
  height: 49px;
}